@model IEnumerable<AssetManagementApp.Entities.Employee>

@{
    ViewData["Title"] = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div ng-app="employeeTable" ng-controller="employeeList">
    <br />
    <div class="col-lg-3">
        <input type="text" class="form-control" ng-model="search" placeholder="Procurar"/>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Número</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in employees|filter:search">
                <td>{{x.name}}</td>
                <td>{{ x.employeeNumber }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="./Employee/Edit/{{x.id}}"><i class="fa fa-pencil-square-o"></i>Edit</a> |
                    <a class="btn btn-default btn-sm" href="./Employee/Details/{{x.id}}">Details</a> |
                    <a class="btn btn-default btn-sm" href="./Employee/Delete/{{x.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var app = angular.module('employeeTable', [])
    app.controller('employeeList', function ($scope, $http) {
        $http({
            method: "GET",
            url: "@Url.Action("GetAllEmployeesInDB", "Employee")"
        }).then(function mySuccess(response) {
            $scope.employees = response.data;
            //debugger;
        }, function myError(response) {
            $scope.employees = response.statusText;
        });
    });
</script>