@model IEnumerable<AssetManagementApp.Entities.Asset>

@{
    ViewData["Title"] = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div ng-app="assetTable" ng-controller="assetList">
    <br />
    <p>
        <a class="btn btn-default btn-sm" href="./Asset/Create">Create New</a>
        @*<a asp-action="Create">Create New</a>*@
    </p>
    <br />
    <div class="col-lg-3">
        <input type="text" class="form-control" ng-model="search" placeholder="Procurar" />
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in assets|filter:search">
                <td>{{x.name}}</td>
                <td>{{ x.description }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="./Asset/Edit/{{x.id}}"><i class="fa fa-pencil-square-o"></i>Edit</a> |
                    <a class="btn btn-default btn-sm" href="./Asset/Details/{{x.id}}">Details</a> |
                    <a class="btn btn-default btn-sm" href="./Asset/Delete/{{x.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var app = angular.module('assetTable', [])
    app.controller('assetList', function ($scope, $http) {
        $http({
            method: "GET",
            url: "@Url.Action("GetAllAssetsInDB", "Asset")"
        }).then(function mySuccess(response) {
            $scope.assets = response.data;
            //debugger;
        }, function myError(response) {
            $scope.assets = response.statusText;
        });
    });
</script>